.main-container {
    margin: 50px auto;
    padding: 50px;
    width: 45%;
    background: white;
    border-radius: 10px;
    text-align: center;
}

.main-container h1 {

    font-size: 3rem;
}

.main-container h2 {
    color: gray;
    font-size: 1.6rem;
    /*font-style: italic;*/

}


.main-container img {
    margin: 20px auto;
    max-width: 100%;
    height: 400px;
    display: block;
    text-align: center;
}


a {
    color: #20A5AA
}

a:hover {
    color: #127c80
}

.btn {
    margin: 10px;
    font-weight: bold;

}

.main-container header {
    margin-bottom: 30px;
}