body {
  background: lightgrey;
  font-family: 'Fredoka One',
    cursive;
  font-size: 16px;
  letter-spacing: 32x;
}

header {
  letter-spacing: 3px;
  max-width: 100%;
}

.btn {
  box-shadow: 2px 2px lightgray
}

@media only screen and (max-width: 768px) {
  body {
    font-size: 12px;
  }


}

img {
  height: auto !important;
}

@-webkit-keyframes pulse {
  0% {
    -webkit-transform: scale(0.9);
    opacity: 0.7;
  }

  50% {
    -webkit-transform: scale(1);
    opacity: 1;
  }

  100% {
    -webkit-transform: scale(0.9);
    opacity: 0.7;
  }
}

@keyframes pulse {
  0% {
    transform: scale(0.9);
    opacity: 0.7;
  }

  50% {
    transform: scale(1);
    opacity: 1;
  }

  100% {
    transform: scale(0.9);
    opacity: 0.7;
  }
}

.pulse,
.btn {
  -webkit-animation: pulse 3s infinite ease-in-out;
  -o-animation: pulse 3s infinite ease-in-out;
  -ms-animation: pulse 3s infinite ease-in-out;
  -moz-animation: pulse 3s infinite ease-in-out;
  animation: pulse 3s infinite ease-in-out;
}