body {
  background: lightgrey;
  font-family: 'Fredoka One',
    cursive;
  font-size: 16px;
  letter-spacing: 32x;
}

header {
  letter-spacing: 3px;
  max-width: 100%;
}

.btn {
  box-shadow: 2px 2px lightgray
}

@media only screen and (max-width: 768px) {
  body {
    font-size: 12px;
  }


}

img {
  height: auto !important;
}